/*
  Stein Lundbeck Tech blog
*/

#Demo:hover {
  cursor: pointer;
}

@media (min-width: 768px) {
  #Demo {
    font-size: 19px;
  }
}
@media (min-width: 768px) {
  #Demo {
    background-color: yellow;
  }
}