/*
    Stein Lunbbeck Tech blog
*/

$mediaBreakpoints: ( XS: 0px, SM: 576px, MD: 768px, LG: 992px, XL: 1200px, XXL: 1920px );
$mediaDevices: ( Phone: XS, Tablet: SM, Laptop: MD, Computer: LG, Screen: XL, BigScreen: XXL );
$mediaOrientation: ( 0: Any, 1: Portrait, 2: Landscape );

@function mediaStr($size, $orientation, $mode, $minWidth, $maxWidth) {
    $mode: to-upper-case(inspect($mode));
    $size: to-upper-case(inspect($size));
    $width: map-get($mediaBreakpoints, $size);
    $query: null;

    @if ($minWidth) {
        $width: $minWidth;
    }

    @if ($mode == UP) {
        $query: "(min-width: " + $width + ")";
    }
    @else if ($mode == DOWN) {
        $query: "(max-width: " + $width + ")";
    }
    @else if ($mode == ONLY) {
        $query: "(min-width: " + $width + ")";
        $max: null;

        @if ($maxWidth) {
            $max: $maxWidth;
        }
        @else {
            @if ($size == XS) {
                $max: map-get($mediaBreakpoints, SM);
            }
            @else if ($size == SM) {
                $max: map-get($mediaBreakpoints, MD);
            }
            @else if ($size == MD) {
                $max: map-get($mediaBreakpoints, LG);
            }
            @else if ($size == LG) {
                $max: map-get($mediaBreakpoints, XL);
            }
        }

        @if ($max) {
            $query: $query + " and (max-width: " + $max + ")";
        }
    }

    @if not ($orientation == Any) {
        $query: $query + " and (orientation: " + to-lower-case(inspect($orientation)) + ")";
    }

    @return $query;
}

@mixin media($size: MD, $orientation: Any, $mode: Up, $minWidth: null, $maxWidth: null) {
    @media #{mediaStr($size, $orientation, $mode, $minWidth, $maxWidth)} {
        @content;
    }
}

@mixin device($device: Laptop, $orientation: Any, $mode: Up, $minWidth: null, $maxWidth: null) {
    $size: map-get($mediaDevices, $device);

    @media #{mediaStr($size, $orientation, $mode, $minWidth, $maxWidth)} {
        @content;
    }
}
