@import "Media";

#Demo {
    font-size: 10px;
    font-weight: bold;

    &:hover {
        cursor: pointer;
    }
}

@include media() {
    #Demo {
        font-size: 19px;
    }
}

@include device() {
    #Demo {
        background-color: yellow;
    }
}
